*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sheard style  */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  cursor: pointer;
}


/* main style  */

header{
  background-color: #FFF8F3;
  background: url('../images/developer.png'), url('../images/header_bg.png') , #FFF8F3;
  background-repeat: no-repeat;
  background-position:23px 38px , bottom right;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

nav .logo{
  font-size: 45px;
  color: #181818;
  font-weight: 900;
  margin-top: 51px;

}
nav .logo span{
  color: #FD6E0A;
}

nav .menu ul{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 51px;
  margin-top: 50px;
}
nav .menu ul a{
  text-decoration : none;
  font-size: 20px;
  color: #474747;
}


#banner {
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: center;
  align-items: center;

}
#banner .banner-text{
  max-width: 585px;
}
#banner .banner-text h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-text h1{
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
} 
#banner .banner-text p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}                                                 
.banner-image img{
  max-width: 584px;
  vertical-align:middle;
}


#about-section{
  width: 71%;
  max-width: 1140px;
  background-color: #FFF8F3;
  margin: 0 auto;
  margin-top: 130px;
}
.about{
  /* max-width: 827px; */
  padding: 131px 156px;
  text-align: center;
}
.section-hading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-hading h2{
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;
}

.section-hading p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
.about-info{
  display: flex;
  justify-content: space-around;
  margin-bottom: 131px;
}
.about-card p{
  font-size: 20px;
  color: #757575;
  line-height: 30px;
}
.about-card h4{
  font-size: 20px;
  line-height: 30px;
}

.skill{
  padding-top: 130px;
}

.skill-content{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.skill-card-section{
  display: flex;
  gap: 24px;

}

.skill-card-section .skill-card {
  max-width: 267px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 50px 0px #00000028;
  padding: 30px;
}

.skill-card-section .skill-card img{
  max-width: 44px;
  margin-bottom: 30px;
}
.skill-card-section .skill-card h4{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
  
}
.skill-card-section .skill-card p{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  
}

#resume{
  margin-top: 130px;
}
#resume .section-hading{
  margin-bottom: 113px;
}

.resume-container{
  display: flex;
  gap: 24px;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.resume-head{
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}

.resume-card{
  max-width: 511px;
}

.resume-card .resume-titel{
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}

.resume-card .resume-year{
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}

.resume-card .resume-text{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  margin-bottom: 30px;
}
.resume-container hr{
  margin-bottom: 30px;
}

.footer-cotainer{
   background-color: #FFF8F3;
}
.footer{
  padding: 130px 0;
  display: flex;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
 
}
.footer h2{
  font-size: 35px;
  margin-bottom: 20px;
  color: #181818;
}
.footer .social p{
  width: 562px;
  font-size: 16;
  line-height: 28px;
  color: #474747;
  margin-bottom: 32px;
}
.footer .social a{
  margin-right: 24px;
}

.footer .form input[type="text"] , textarea{
  /* display: block; */
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
}