*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sheard style  */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  cursor: pointer;
}


/* main style  */

header{
  background-color: #FFF8F3;
  background: url('../images/developer.png'), url('../images/header_bg.png') , #FFF8F3;
  background-repeat: no-repeat;
  background-position:top left , bottom right;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

nav .logo{
  font-size: 45px;
  color: #181818;
  font-weight: 900;
  margin-top: 51px;

}
nav .logo span{
  color: #FD6E0A;
}

nav .menu ul{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 51px;
  margin-top: 50px;
}
nav .menu ul a{
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}


#banner {
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: center;
  align-items: center;

}
#banner .banner-text{
  max-width: 585px;
}
#banner .banner-text h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-text h1{
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
} 
#banner .banner-text p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}                                                 
.banner-image img{
  max-width: 584px;
  vertical-align:middle;
}